<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [slidesPerView]="1.25" [spaceBetween]="20" [centeredSlides]="true" #swiper>
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>

    <ng-template swiperSlide>Slide 4</ng-template>
    <ng-template swiperSlide>Slide 5</ng-template>
    <ng-template swiperSlide>Slide 6</ng-template>

    <ng-template swiperSlide>Slide 7</ng-template>
    <ng-template swiperSlide>Slide 8</ng-template>
    <ng-template swiperSlide>Slide 9</ng-template>

    <ng-template swiperSlide>Slide 10</ng-template>
    <ng-template swiperSlide>Slide 11</ng-template>
    <ng-template swiperSlide>Slide 12</ng-template>
  </swiper>
</ion-content>